In [1]:
import pandas as pd

In [6]:
df= pd.read_excel("C:\\Users\Yogen\Documents\Advent of Code 2020\Advent of Code Day 1.xlsx")

In [7]:
df

      Exp
0    1826
1    1895
2    1427
3    1931
4    1651
..    ...
195  2004
196  1792
197  1732
198  1740
199  1831

[200 rows x 1 columns]

In [14]:
numb=list(df['Exp'])

In [17]:
for i in numb:
    required=2020-i
    if required in numb:
        print(required*i)

121396
121396

In [41]:
numb.sort()

In [33]:
l=0
r=len(numb)-1

In [65]:
target=2020

In [101]:
def two_numb(target, lst):
    l=0
    r=len(lst)-1
    while l<r:
        total=lst[l]+lst[r]
        if total == target:
            return True,l,r
        elif total < target:
            l=l+1
        elif total > target:
            r=r-1
    return False,l,r

In [102]:
two_numb(target,numb)

(True, 1, 168)

In [108]:
for i in numb:
    required=2020-i
    output=two_numb(required,numb)
    if output[0] == True:
        print(i,numb[output[1]], numb[output[2]])
        break

117 426 1477

In [109]:
117*426*1477

73616634